@use "../../abstracts" as *;

.header {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  place-items: center;
  align-content: center;
  position: relative;
  z-index: 2;
  border-radius: 0 0 2rem 2rem;

  h1 {
    font-family: "Edu QLD Beginner", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
