@use "../../abstracts" as *;

.header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  position: relative;
  z-index: 2;
  border-radius: 0 0 2rem 2rem;

  h1 {
    font-family: "Edu QLD Beginner", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
