@use "../abstracts" as *;

.blog_page {
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;

  .blog_page-container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 60% 30%;
    gap: 5%;
    place-items: center;

    .banner {
      height: 100%;
      width: 100%;

      .banner-content {
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
        }
      }
    }

    .blog_container {
      height: 100%;
      width: 85%;

      .blog_container-card {
        height: fit-content;
        width: 100%;
        padding: 2.5% 0;

        &:not(:last-child) {
          border-bottom: 2px solid $clr-highlight;
        }

        .blog_container-card_content {
          height: 100%;
          width: 100%;
          display: grid;
          text-align: justify;
          line-height: 1.5;

          & > div {
            padding: 2.5% 0;
          }

          .blog_container-card_content-inner {
            width: 95%;
            display: grid;
            grid-template-columns: 15% 80%;
            justify-self: flex-end;
            align-items: center;
            gap: 0 5%;
            word-break: break-word;
          }

          .blog_container-card_content-excursions {
            height: 100%;
            width: 100%;

            h3 {
              font-size: 1.7rem;
              text-align: center;
            }

            .blog_container-card_content-excursions-inner {
              display: flex;
              width: 100%;
              flex-direction: column;
              margin-bottom: 2.5%;

              h4 {
                width: fit-content;
                margin-bottom: 2.5%;
                border-bottom: 2px solid $clr-highlight;
              }

              p {
                text-indent: 2rem;
              }

              .blog_container-card_content-excursions-inner_content {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                margin-bottom: 2.5%;

                h5 {
                  width: 100%;
                  margin-bottom: 1%;
                  text-indent: 2rem;
                  font-size: 1.1rem;
                }

                p {
                  text-indent: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
