@use "../abstracts" as *;

.header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5%;
  border-bottom: 1px solid $clr-highlight;
  position: relative;

  // .group {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 17%;

  h1 {
    font-family: "Edu QLD Beginner", cursive;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  // }
}

// @media screen and (min-width: $md-breakpoint) {
//   .group {
//     width: 17%;
//   }
// }

// @media screen and (min-width: $lg-breakpoint) {
//   .group {
//     width: 17%;
//   }
// }

// @media screen and (min-width: $xl-breakpoint) {
//   .group {
//     width: 17%;
//   }
// }
