@use "../abstracts" as *;

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.5%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .content::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../../images/wallpaper.jpg");
    background-size: cover;
    background-position: center 55%;
    opacity: 0.35;
  }
}
