@use "../../../../abstracts" as *;

.search_bar {
  .search_bar-input {
    width: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 35px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .search_bar-input:focus {
    transform: translateX(-40%);
    width: 250px;
  }

  .search_bar-input-white {
    color: $clr-bg;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $clr-bg;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $clr-bg;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $clr-bg;
    }
  }
}

@media screen and (min-width: $mobile_md-breakpoint) {
  .search_bar {
    .search_bar-input_field {
      left: 55%;
    }
  }
}

@media screen and (min-width: $mobile_lg-breakpoint) {
  .search_bar {
    .search_bar-input_field {
      left: 60%;
    }
  }
}

@media screen and (min-width: $sm-breakpoint) {
  .search_bar {
    .search_bar-input_field {
      top: 25%;
      left: 70%;
    }
  }
}

@media screen and (min-width: $md-breakpoint) {
  .search_bar {
    .search_bar-input_field {
      left: 77%;
    }
  }
}

@media screen and (min-width: $lg-breakpoint) {
  .search_bar {
    .search_bar-magnifier {
      width: 30px;
      height: 30px;
    }

    .search_bar-input_field {
      width: 185px;
      left: 82%;

      &.show {
        width: 185px;
      }
    }
  }
}

@media screen and (min-width: $xl-breakpoint) {
  .search_bar {
    .search_bar-magnifier {
      width: 35px;
      height: 35px;
    }

    .search_bar-input_field {
      width: 200px;
      height: 35px;
      top: 25%;
      left: 83%;

      &.show {
        width: 200px;
        height: 35px;
      }
    }
  }
}

@media screen and (min-width: $xxl-breakpoint) {
  .search_bar {
    .search_bar-magnifier {
      width: 50px;
      height: 50px;
    }

    .search_bar-input_field {
      width: 250px;
      height: 45px;
      left: 83%;

      &.show {
        width: 250px;
        height: 50px;
      }
    }
  }
}
